/* START CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* END CSS RESET */

.header {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    color: white;
    background-color: rgb(40, 40, 40);
}

.header__branding {
    font-size: 0.9rem;
    text-align: center;
}

.header__player-info {
    display: flex;
    justify-content: space-between;
}

.header__player1 {
    text-align: end;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.champion-section {
    background-color: #00000033;
    padding: 24px 48px;
}

.champion__form {
    text-align: center;
}

.champion-form__fieldset {
    border: none;
}

.champions {
    display: flex;
    gap: 64px;
}

.champion__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    font-weight: bold;
}

.champion-form__legend {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 16px;
}

.champion__portrait,
.champion__portrait--selected {
    width: 100px;
}

.champion__portrait--selected {
    border: 4px solid #86c922;
    background-color: #0000004d;
}

.champion__select {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.champion-form__button {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    margin-top: 32px;
    cursor: pointer;
    background-color: #86c922;
    border: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    border: 8px solid black;
}

.board__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 1px solid black;
    background-color: rgb(12, 135, 12);
}